<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>417309286699-1hm2np5pli5dvjjb438m871obget6t4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417309286699-1hm2np5pli5dvjjb438m871obget6t4f</string>
	<key>API_KEY</key>
	<string>AIzaSyCBQNkf2T5jCsF2W_uzkMwiKarV4U1ftEw</string>
	<key>GCM_SENDER_ID</key>
	<string>417309286699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.CurricularCounterX</string>
	<key>PROJECT_ID</key>
	<string>extra-curricular-app</string>
	<key>STORAGE_BUCKET</key>
	<string>extra-curricular-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417309286699:ios:08f263021abb4932</string>
	<key>DATABASE_URL</key>
	<string>https://extra-curricular-app.firebaseio.com</string>
</dict>
</plist>